body {
    font-family: 'Nunito', sans-serif;
    padding: 20px;

  }
  
  #sobre h2 {
    color: #621111;
    font-size: 28px;
  }
  
  #formacao h2 {
    color: #114762;
  }
  
  p {
    font-size: 18px;
  }
  
  