body {
    font-family: 'Crimson Pro', serif;
    background-color: #fff;
}
    

    #container {
        width: 100%;
        max-width: 588px;
        margin: 56px auto 0px;
        padding: 0 24px; 
    }

        #profile {
            text-align: center;
            padding: 24px;
            font-size: 25px;
        }
        
        #profile img {
            width: 112px;
            border-radius: 360px;
        }

        .componentes ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;

            padding: 24px 0;
        }

footer{
    text-align: center;
}