* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;  
}

body h1{
  text-align: center;
  font-size: 50px;
  font-family: 'Crimson Pro', serif;

  padding: 50px;
}

/* Deixa o container principal em linha (lado a lado) */
#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
 
  font-family: 'Crimson Pro', serif;
}

/* Informações do perfil */

#profile {
  width: 600px;
  text-align: left;
  font-size: 30px;
}

#profile img{
  width: 400px;
  border-radius: 100px;
}

/* Menu com botões empilhados */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Container dos botões na horizontal */
.botoes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.botoes button {
  color: #690909;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(215, 154, 222);

  width: 130px;
  height: 40px;

  font-family: 'Crimson Pro', serif;
  font-size: 23px;
}

.menu iframe {
  width: 100%;
  height: 600px;
  border: 0px;
}


footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}